<div class="main-container">
  <mat-card class="dark-card spaced-card">
    <div class="title-container">Human Sensor Interface</div>
  </mat-card>
  <mat-card class="dark-card spaced-card">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Location</mat-label>
        <mat-select #locSelection [(value)]="selectedLocation" (selectionChange)="updateLocation()">
          <mat-option *ngFor="let loc of data" [value]="loc">
            {{loc.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-card-subtitle>Current number of people: {{ selectedLocation.people }}</mat-card-subtitle>
    </div>

    <mat-card class="spaced-card">
      <div class="container-row">
        <div class="button-container">
          <button mat-mini-fab color="primary" aria-label="Example icon button with a bookmark icon" (click)="decreaseCrowdAmount()">
            <mat-icon>remove</mat-icon>
          </button>
        </div>
        <mat-card class="dark-card">
            <div>{{ tempcrowdedness}}</div>
        </mat-card>
        <div class="button-container">
          <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon" (click)="increaseCrowdAmount()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
      <div class="container-row">
        <div class="button-container">
          <button mat-raised-button color="primary" (click)="confirmCrowdAmount()">UPDATE</button>
        </div>
        <div class="button-container">
          <button mat-raised-button color="warn" (click)="resetCrowdAmount()">RESET</button>
        </div>
      </div>
    </mat-card>
  </mat-card>
</div>
